<div class="container">
<h2>Edit tag type</h2>

<%= form_for @tag_type, :url =>{:action => "update", :id =>@tag_type} do |f| %>

<p>Name: <%= f.text_field 'name' %></p>

<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'list'} %>

</div>
