<div class="container">
<h2>Tag types list</h2>
<p>You can edit tag type or add new one.</p>
<table class="table table-striped">

<thead>
<tr>
<th>Id</ih>
<th>Name</th>
</tr>
</thead>

<tbody>
<% @tag_types.each do |tag_type| %>
<tr>
<td><%= link_to tag_type.id, {:action => 'edit', :id => tag_type.id} %></td>
<td><%= tag_type.name %></td>
</tr>
<% end %>
</tbody>

</table>

<br>

<%= link_to "New tag type", new_tag_type_path %>
</div>